body{
    background-color:rgb(212, 0, 0);
    color:black;
    font-family: Arial, sans-serif;
    margin: 0;
}

header{
    background-color:#ffffff;
    color:#0462bb;
    text-align:center;
    padding:30px;
}

h1 {
    font-size:36px;
}

h2 {
    color:#000000;
}

p {
    font-size:18px;
    line-height:1.6;
}
nav {
    margin-top: 20px;
}

nav a  {
    color: rgb(255, 254, 254);
    text-decoration: none;
    background-color: rgb(163, 8, 8);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #000000;
}
img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: rgb(251, 253, 255);
    margin-top: 8px;
}

card {
    background-color: rgb(0, 67, 145);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #ffffff;
    border-radius: 10px;
}

card h3 {
    margin-top: 0;
}
footer {
    background-color: #000000;
    color: rgb(150, 3, 3);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

