body{
    background-color:rgb(176, 176, 243);
    color:black;
    font-family: Arial, sans-serif;
    margin: 0;
}

header{
    background-color:#dd2727;
    color:#000000;
    text-align:center;
    padding:30px;
}

h1 {
    font-size:36px;
}

h2 {
    color:#97a4c0;
}

p {
    font-size:18px;
    line-height:1.6;
}
nav {
    margin-top: 20px;
}

nav a  {
    color: white;
    text-decoration: none;
    background-color: azure;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #848ea3;
}
img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: rgb(93, 112, 129);
    margin-top: 8px;
}

card {
    background-color: rgb(194, 180, 162);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #d4a7a7;
    border-radius: 10px;
}

card h3 {
    margin-top: 0;
}
footer {
    background-color: #c78c8c;
    color: rgb(218, 195, 161);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

