body{
    background-color:rgb(189, 189, 190);
    color:black;
    font-family: Arial, sans-serif;
}

header{
    background-color:#acaeb6;
    color:#000000;
    text-align:center;
    padding:30px;
}

h1 {
    font-size:36px;
}

h2 {
    color:#dcdee2;
}

p {
    font-size:18px;
    line-height:1.6;
}